{{> heade}}


{{> navbar}}
<div class="container mt-3">
    <div class="row">
        <div class="col-md-8">
            <h1>Node js</h1>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam deserunt unde, exercitationem cumque
                recusandae tempore eveniet? Perspiciatis accusamus ea tempora laboriosam architecto sunt voluptas, iste
                soluta eaque ullam non ab.
            </p>
        </div>
        <div class="col-md-4">
            <img src="assets/img/nodejs.png" alt="" class="img-thumbnail rounded-circle shadow-sm" width="200">
        </div>
    </div>
</div>


{{> footer}}